<%# header %>
<h1> Road to learning and mastering ruby on rails. </h1>
	<p> When I first started this journey all thought about was makeing a career change. Now after a few weeks of actually taking the time to fully grasp the extent of programming I find myself enjoying everything about it. </p>


<p>© <%= Date.today.year %> My blog .</p>